@font-face {
    font-family: 'TitleFont';
    src: url('./Fonts/horizon.otf') format('opentype');
}

@font-face {
    font-family: 'BodyFont';
    src: url('./Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BodyFontBlack';
  src: url('./Fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SubHeaderFont';
    src: url('./Fonts/Agrandir-Regular.otf') format('opentype');
}

*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'SubHeaderFont', sans-serif;
}

#goTopBtn {
    display: none; /* Initially hide the button */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Position from the bottom */
    right: 30px; /* Position from the right */
    z-index: 99; /* Make sure it's above other elements */
    width: 50px; /* Set width of the button */
    height: 50px; /* Set height of the button */
    background-color: #1ADF0E; /* Button background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor on hover */
    padding: 0; /* Remove padding */
    font-size: 24px; /* Adjust font size */
    color: #fff; /* Text color */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  #goTopBtn img {
    width: 27px; /* Adjust width of the arrow image */
    height: auto; /* Maintain aspect ratio */
    filter: invert(1); /* Invert the color of the arrow image */
    align-self: center;
  }
  
  #goTopBtn:hover {
    background-color: #000; /* Change background color on hover */
  }
  
  @media screen and (max-width: 960px) {
    #goTopBtn {
        width: 40px; /* Adjust width for mobile view */
        height: 40px; /* Adjust height for mobile view */
    }
    #goTopBtn img {
      width: 24px; /* Adjust width of the arrow image */
      height: auto; /* Maintain aspect ratio */
      filter: invert(1); /* Invert the color of the arrow image */
      align-self: center;
    }
}
.navbar{
  background: #000000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#navbar__logo img{
  width: 90px;
  height: auto;
}

.fa-gem{
  margin-right: 0.5rem;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item{
  height: 80px;
}

.navbar__links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  background: #1ADF0E;
  color: #000000;
  white-space: nowrap;
}

.button:hover{
  background: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover{
  color:#1ADF0E;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 1.4rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.manuals{
    background-color: #fff;
}

.manuals__header{
    color: #000;
    width: 100%;
}

.manuals__header h1{
    font-size: 3.3rem;
    margin-top: 7rem;
    line-height: 4rem;
    font-family: 'TitleFont';
    text-align: center;
}

.manuals__header h2{
    font-size: 1.5rem;
    margin-top: 2.0rem;
    font-family: 'SubHeaderFont';
    font-weight: 900;
    text-align: center;
}

.manuals__container{
    display:list-item;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: auto;
    height: 90vh;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 80px;
}

.manuals__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Ensure items wrap properly */
}

.manual__item {
    text-align: center;
    margin: 35px;
}

.manual__item a {
    display: inline-block;
}

.manual__item img {
    margin-top: 1rem;
    width: 250px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
}

.manual__item:hover{
    transform: scale(1.05);
    transition: all 0.5s ease
}

.manual__item p {
    margin-top: 7px;
    font-family: 'BodyFont', sans-serif;
    font-weight: 600;
    font-size: 1.3rem; /* Adjust the font size of the titles */
}

@media screen and (max-width: 480px) {
  .manuals__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    margin: auto;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 30px; /* Adjust padding for smaller screens */
}

  .manuals__header h1{
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'TitleFont';
    text-align: center;
  }

  .manuals__header h2{
    font-size: 1.2rem;
    margin-top: 2.0rem;
    font-family: 'SubHeaderFont';
    font-weight: 900;
    text-align: center;
  }
}

footer {
    background-color: #000;
    margin-top: 800px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 1100px) {
  footer {
    margin-top: 200px;
    padding: 20px 0;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  footer {
    margin-top: 2100px;
    padding: 20px 0;
    text-align: center;
  }
}